

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 80px;
    box-shadow: 0 0 .5rem 0 #888;
}

.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav > *{
    padding: 0 .5rem;
}

.registerBtn{
    background-color: rgb(213, 117, 0);
}

.registerBtn:hover{
    background-color: rgb(200, 110, 0);
}

.header .logoutBtn{
    background-color: darkred;
}

.header .logoutBtn:hover{
    background-color: rgb(169, 0, 0);
}


/* Post Container */
.postContainer{
    max-width: 800px;
    width: 80%;
}

.postCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    gap: 1rem;
}

.postCard .postBody{
    min-width: 320px;
    flex: 2;
}

.postCard .title{
    font-size: 1.5rem;
    margin-bottom: 0;
}

.postCard .summary{
    font-size: 1.2rem;
    margin-bottom: .2rem;
    opacity: .7;
}

.postCard .postCover{
    min-width: 200px;
    margin: auto;
    flex: 1;
}

.postCard .postCover img{
    width: 100%;
    object-fit: cover;
}

.postCard .info{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 550px) {
    .postCard .postBody{
        min-width: 100%;
    }
}
@media (max-width: 350px) {
    .postCard .title{
        font-size: 1.2rem;
    }
    
    .postCard .summary, .postCard .info{
        font-size: .8rem;
    }
}

/* User form */
.userForm{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin: auto;
    text-align: center;
    padding: 1rem;
    padding-bottom: 2.5rem;
    border-radius: 5px;
    box-shadow: 0 0 .5rem 0 #888;
}

.userForm input, .userForm select{
    padding: .5rem 0.3rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}